

.icon {
    color: #246cbd;
    margin-right: 7px;
    font-size: 20px;
}


.item {
    display: flex;
    margin-bottom: 5px;
    padding: 10px 0;
}

.items > h6 {
    font-size: 15px;
    font-weight: 500;
}

.desc {
    font-size: 0.9em;
    font-weight: 400;
    color: #918b8b;
    margin-left: 4px;
}
