
.product_list {
    display: flex;
    padding-top: 40px;
    column-gap: 20px;
    margin-left: 40px;
}

.item {
    margin-right: 4git 0px;
}

.item > h3 {
    font-weight: 500;
    margin-top: 10px;
}

.thumb {
    border-radius: 5px;
}

.promoPrice {
    background-color: #f80;
    width: 40px;
    margin-left: 200px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

.price > strong {
    font-weight: 600;
    color: red;
    margin-right: 15px;
}

.price > del {
    color: rgb(140, 137, 134);
}