
.header_container {
    max-width: 1200px;
    margin: 0 auto;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    position: relative;
    padding: 9px 0 13px 0;
    letter-spacing: -1.3px;
    overflow: hidden;
    display: inline-block;
    top: 4px;
}

