.left{
    display: inline-flex;
    align-items: center;
    padding: 10px 12px;
    appearance: none;
    background-color: #f80;
    color: #fff;
    text-align: center;
    border: none;
    margin-right: 10px;
    width: 190px;

}

.left svg {
   margin-right: 8px;
}

.right {
    background-color: #212121;
    padding-left: 45px;

}

.icon {
    margin-right: 8px;
}

